@using Microsoft.AspNetCore.Identity
@using JotFinalProject.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<JotFinalProject.Models.ImageUploaded>
@{
    ViewData["Title"] = "Jot";
    Layout = "_Layout";
}
<h1>Hello, Wanna Jot?</h1>

@*@if (SignInManager.IsSignedIn(User))
{
    <p>Welcome back, @User.Claims.First(name => name.Type == "FirstName").Value !</p>
}
else
{
    <p>You are not logged in!</p>
}*@

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>